body{
    background: #BDBDBD;
}

.tagcontainer {
    position:relative;
    width:100%;
    height: auto;
    margin-bottom: 0;
    padding-bottom: 0;
    
}

/* First tag position */
.firstTag {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding-bottom: 0;
    margin-bottom: 0;
}

/* Second Tag position */
.secondTag {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding-bottom: 0;
    margin-bottom: 0;
}

/* Navbar font color */
.fontgray {
    color:lightgray;
}

.font60 {
    font-size: 500%;
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0; 
}

.font30 {
    font-size: 250%;
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0; 
}
