<div class="container-fluid border-top border-bottom bg-white">
  <div class="row my-5">
    <div class="col-8">
      <div class="row p-4">
        <div class="col">
          <h1>This First Heading
          <span class="text-secondary text-start">Will Catch Your Eye</span></h1>
        </div>
        <div class="row">
          <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. 
            Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
      </div>
    </div>
      <div class="col-4">
        <img src="assets/img/1.jpg" class="rounded-circle w-75">
      </div>
  </div>
</div>