<!-- your html code here -->

<div class="row bg-white justify-content-between px-5 mx-5">
    <div class="col-12 container fluid "></div>
    <div class="card" style="width: 25rem;">
        <img src="./assets/img/big-project-image.png" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
        </div>
    </div>
    <div class="card" style="width: 25rem;">
        <img src="./assets/img/big-project-image.png" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
        </div>
    </div>
    <div class="card" style="width: 25rem;">
        <img src="./assets/img/big-project-image.png" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text"><h4 class="text-primary">Project Name</h4>Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
        </div>
    </div>
</div>
</div>