<!-- your html code here -->

<div class="container-fluid bg-white border-bottom">
    <div class="container pt-5 pb-5">

        <div class="row">

            <div class="p-auto">
                <h1>Portafolio</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium modi nam, earum repudiandae in
                    reiciendis est
                    placeat doloremque sapiente exercitationem architecto tempore quia dolor sequi, delectus officiis
                    illo
                    repellat
                    magni! </p>
            </div>
        </div>
        <div class="row">

            <div class="col-md-4">
                <img src="./assets/img/big-project-image.png" class="card-img-top" alt="...">
                <div>
                    <p class="card-text">
                    <h4 class="text-primary">Project Name</h4>Some quick example text to build on the card title and
                    make up
                    the
                    bulk of the
                    card's content.</p>
                </div>
            </div>
            <div class="col-md-4">
                <img src="./assets/img/big-project-image.png" class="card-img-top" alt="...">
                <div>
                    <p class="card-text">
                    <h4 class="text-primary">Project Name</h4>Some quick example text to build on the card title and
                    make up
                    the
                    bulk of the
                    card's content.</p>
                </div>
            </div>
            <div class="col-md-4">
                <img src="./assets/img/big-project-image.png" class="card-img-top" alt="...">
                <div>
                    <p class="card-text">
                    <h4 class="text-primary">Project Name</h4>Some quick example text to build on the card title and
                    make up
                    the
                    bulk of the
                    card's content.</p>
                </div>
            </div>
        </div>
        <hr>
    </div>
                
    
            
</div>


